<link rel="stylesheet" type="text/css" href="/public/css/viewpost.css">

<div id="post-container">
    <img id="image-post-image" src="/{{currentPost.photopath}}">
    <div id="info">
        <div id="image-post-title-text">{{currentPost.title}}</div>
        <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
        <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>
        <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
    </div>
</div>